<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
   
</head>
<body>

    <header>
        <h1>{{titulo}}</h1>
    </header>

    <nav>
        <div>
            <a href="">Home</a>
            <a href="/Nosotros">Nosotros</a>
            <a href="/Blog">Blog</a>
            <a href="/Servicios">Servicios</a>
        </div>
        
        <div>
            <span>Contacto: +57 3124788327</span>
            <button class="reserve-btn" (click)="onformulario()" >Reserva Ahora</button>
        </div>
    </nav>


</body>
</html>