<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurfVibesCamp</title>
</head>
<body>
    
</body>

<footer>
    <div class="footer-content">
        <div class="contact-info">
            <h3>Contacto</h3>
            <p>Teléfono: +57 3124788327</p>
            <p>© 2023 SurfVibesCamp. Todos los derechos reservados.</p>
        </div>
        <div class="social-media">
            <h3>Redes Sociales</h3>
           
            <a href="https://www.facebook.com/" target="_blank" class="facebook">
                <img src="../../assets/img/facebook.jpg" alt="Logo de Facebook"> Facebook
              </a>
            
              <a href="#" target="_blank" class="instagram">
                <img src="../../assets/img/instagram.jpg" alt="Logo de Instagram"> Instagram
              </a>
            
              <a href="#" target="_blank" class="twitter">
                <img src="../../assets/img/twiter.avif" alt="Logo de Twitter"> Twitter
              </a>
         
        </div>
        <div class="logo">
           
            <img src="../../assets/img/log.png" alt="Logo del Campamento de Surf">
        </div>
    </div>
</footer>

</html>
