!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurfVibesCamp Blog</title>

</head>
<app-header></app-header>

<body>
    
</body>

<div class="container">
    
       <br>
        <h1 style="text-align: center;">{{titulo}}</h1>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img class="animated-image" id="Imagen" src="../../assets/img/service2.avif" alt="Clases de Surf">
                    <div>
                        <h2>Clases de Surf</h2>
                        <p>Instructores certificados para enseñar a todos los niveles, desde principiantes hasta avanzados. Grupos separados por niveles de habilidad para garantizar una experiencia personalizada.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img class="animated-image"  id="Imagen" src="../../assets/img/service3.avif" alt="Alquiler de Equipos">
                    <div>
                        <h2>Alquiler de Equipos</h2>
                        <p>Tablas de surf de diferentes tamaños y estilos. Trajes de neopreno en diversas tallas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> <div class="card">
                <img class="animated-image" id="Imagen" src="../../assets/img/service 4.avif" alt="Alojamiento">
                <div>
                    <h2>Alojamiento</h2>
                    <p>Tiendas de campaña para una experiencia más cercana a la naturaleza. Cabañas o habitaciones para aquellos que prefieran comodidades adicionales.</p>
                </div>
            </div></div>
            <div class="col-6">
                <div class="card">
                    <img class="animated-image" id="Imagen" src="../../assets/img/service 5.avif" alt="Comida y Catering">
                    <div>
                        <h2>Comida y Catering</h2>
                        <p>Tres comidas al día adaptadas a las necesidades de los surfistas. Opciones vegetarianas y veganas disponibles. Snacks saludables para mantener la energía durante el día.</p>
                    </div>
                </div>
            </div>
        </div>
       <div class="row">
        <div class="col-6">
            <div class="card">
                <img class="animated-image" id="Imagen"src="../../assets/img/service6.avif" alt="Transporte">
                <div>
                    <h2>Transporte</h2>
                    <p>Servicio de transporte desde y hacia el aeropuerto. Transporte diario a las mejores playas para surfear.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img class="animated-image" id="Imagen"src="../../assets/img/service7.avif" alt="Entrenamiento Físico">
                <div>
                    <h2>Entrenamiento Físico</h2>
                    <p>Clases de yoga para mejorar la flexibilidad y fortaleza. Rutinas de entrenamiento específicas para mejorar el rendimiento en el surf.</p>
                </div>
            </div>
        </div>
       </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img class="animated-image" id="Imagen" src="../../assets/img/service9.avif" alt="Tienda de Surf">
                    <div>
                        <h2>Tienda de Surf</h2>
                        <p>Venta de equipos de surf y accesorios. Merchandising del campamento.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img class="animated-image" id="Imagen"src="../../assets/img/service8.jpg" alt="Programas para Niños">
                    <div>
                        <h2>Programas para Niños</h2>
                        <p>Clases especiales adaptadas a niños y adolescentes. Actividades recreativas y de aprendizaje.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Servicio 10: Tienda de Surf -->
       
        
       
        
        <!-- Servicio 12: Programas para Niños -->
        
    
</div>
<button #scrollBtn id="scroll-to-top" (click)="scrollToTop()">↑</button>





<app-footer></app-footer>

</html>

<p>contacto works!</p>